fastapi
uvicorn
pydantic
langchain

langchain-openai
python-dotenv
sqlalchemy
psycopg2-binary
email-validator

python-jose
pwdlib
pydantic[email]
pwdlib[argon2]

qdrant-client

langchain-text-splitters
langchain-community
huggingface_hub

python-multipart
langfuse