fastapi
uvicorn
pydantic
langchain


langchain-openai
python-dotenv
sqlalchemy
psycopg2-binary


python-jose
pwdlib
pydantic[email]
pwdlib[argon2]


qdrant-client


langchain-text-splitters
langchain-huggingface
sentence-transformers
langchain-community

python-multipart
langfuse

--extra-index-url https://download.pytorch.org/whl/cpu
torch